:root {
  --pintaYellow: #f8b503;
  --pintaBlue: #297a9c;
  --pintaSilver: #cbcbcb;
  --pintaError: #cd0707;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--pintaBlue);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  height: 90%;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--pintaSilver);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.map-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-row img {
  max-width: 100%;
  max-height: 250px;
}

.panel > * {
  width: 100%;
}

.img-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pinta-img {
  border-radius: 10px;
}

.debug-row {
  color: white;
  background-color: var(--pintaError);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;

  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.timing-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

